<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>{{ students_detail.firstname }} {{ students_detail.lastname }}</h1>
    <p>DOB:{{ students_detail.date_of_birth }}</p>
    <p>PHONE:{{ students_detail.phone }}</p>
    <p>CITY:{{ students_detail.city }}</p>
    <p>ZIPCODE:{{ students_detail.zip }}</p>
    <p>STATE:{{ students_detail.state }}</p>
    <p>GRADUATION:{{ students_detail.graduation }}</p>
    <p>EMAIL:{{ students_detail.email }}</p>
    <p>YEAR:{{ students_detail.year }}</p>
    <hr />
    <p>Back to <a href="/students">Student</a></p>
  </body>
</html>